
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: montserrat;
}


/* footer black*/

.footer-black {
  background-color: #101518;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-black {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  color: #dbdbdb;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-black li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-black a {
  color: #dbdbdb;
}

.footer-ul-black a:hover {
  color: #0ccd91;
}

.footer-links-black {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-black {
  font-size: 24px;
  color: #0ccd91;
}

.footer-logo-black {
  color: #dbdbdb;
  padding: 80px 50px;
}

.footer-logo-black:hover {
  color: #0ccd91;
  transition: 0.5s;
}

.bottom-text-black {
  display: flex;
  justify-content: center;
  color: rgb(92, 92, 92);
}

.bottom-text-black a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-black a:hover {
  color: rgb(219, 219, 219);
}

.socials-black {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-black i {
  padding-left: 5px;
  color: #0ccd91;
  font-size: 30px;
}

.socials-black i:hover {
  color: #dbdbdb;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-black {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-black {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-black {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-black li {
    padding-top: 5px;
  }
  .bottom-text-black {
    padding-top: 15px;
  }
  .ul-heading-black {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-black {
    font-size: 20px;
  }
  .ul-heading-black {
    font-size: 16px;
  }

  .footer-links-black {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-black {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-black li {
    padding-top: 5px;
  }
  .bottom-text-black {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-black {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-black {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-black {
    padding-top: 15px;
  }
}

/* footer white */

.footer-white {
  background-color: #f5f5f5;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-white {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-white li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-white a {
  color: #141414;
}

.footer-ul-white a:hover {
  color: #0ccd91;
}

.footer-links-white {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-white {
  font-size: 24px;
  color: #0ccd91;
}

.footer-logo-white {
  color: #141414;
  padding: 80px 50px;
}

.footer-logo-white:hover {
  color: #0ccd91;
  transition: 0.5s;
}

.bottom-text-white {
  display: flex;
  justify-content: center;
  color: rgb(92, 92, 92);
}

.bottom-text-white a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-white a:hover {
  color: #141414;
}

.socials-white {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-white i {
  padding-left: 5px;
  color: #0ccd91;
  font-size: 30px;
}

.socials-white i:hover {
  color: #141414;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-white {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-white {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-white {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-white li {
    padding-top: 5px;
  }
  .bottom-text-white {
    padding-top: 15px;
  }
  .ul-heading-white {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-white {
    font-size: 20px;
  }
  .ul-heading-white {
    font-size: 16px;
  }

  .footer-links-white {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-white {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-white li {
    padding-top: 5px;
  }
  .bottom-text-white {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-white {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-white {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-white {
    padding-top: 15px;
  }
}




/* footer-purple */

.footer-purple {
  background-color: #9656a3;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-purple {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-purple li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-purple a {
  color: #331c4b;
}

.footer-ul-purple a:hover {
  color: #070033;
}

.footer-links-purple {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-purple {
  font-size: 24px;
  color: #141414;
}

.footer-logo-purple {
  color: #331c4b;
  padding: 80px 50px;
}

.footer-logo-purple:hover {
  color: #070033;
  transition: 0.5s;
}

.bottom-text-purple {
  display: flex;
  justify-content: center;
  color: #331c4b;
}

.bottom-text-purple a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-purple a:hover {
  color: #070033;
}

.socials-purple {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-purple i {
  padding-left: 5px;
  color: #15191b;
  font-size: 30px;
}

.socials-purple i:hover {
  color: #000000;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-purple {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-purple {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-purple {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-purple li {
    padding-top: 5px;
  }
  .bottom-text-purple {
    padding-top: 15px;
  }
  .ul-heading-purple {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-purple {
    font-size: 20px;
  }
  .ul-heading-purple {
    font-size: 16px;
  }

  .footer-links-purple {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-purple {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-purple li {
    padding-top: 5px;
  }
  .bottom-text-purple {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-purple {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-purple {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-purple {
    padding-top: 15px;
  }
}


/* footer green */

.footer-green {
  background-color: #4DB33D;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-green {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-green li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-green a {
  color: #ffffff;
}

.footer-ul-green a:hover {
  color: #d5d5d6;
}

.footer-links-green {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-green {
  font-size: 24px;
  color: #000000;
}

.footer-logo-green {
  color: #2b2b2b;
  padding: 80px 50px;
}

.footer-logo-green:hover {
  color: #000000;
  transition: 0.5s;
}

.bottom-text-green {
  display: flex;
  justify-content: center;
  color: #272727;
}

.bottom-text-green a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-green a:hover {
  color: #000000;
}

.socials-green {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-green i {
  padding-left: 5px;
  color: #15191b;
  font-size: 30px;
}

.socials-green i:hover {
  color: #000000;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-green {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-green {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-green {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-green li {
    padding-top: 5px;
  }
  .bottom-text-green {
    padding-top: 15px;
  }
  .ul-heading-green {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-green {
    font-size: 20px;
  }
  .ul-heading-green {
    font-size: 16px;
  }

  .footer-links-green {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-green {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-green li {
    padding-top: 5px;
  }
  .bottom-text-green {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-green {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-green {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-green {
    padding-top: 15px;
  }
}
