$theme-colors: (
  darkgray: #2B2843,
  lightblack: #1E192C,
  black: #14111B,
  white: #fff,
  silver: #dfdede,
  red: #dc2626,
  orange: #ea580c,
  amber: #d97706,
  yellow: #FFC700,
  lime: #65a30d,
  green: #16a34a,
  gray: #4b5563,
  sky: #0284c7,
  blue: #2563eb,
  indigo: #5865F2,
  voilet: #7c3aed,
  purple: #6f00ff,
  skyblue: #00b2ff,
);

@function palette($color) {
  @return map-get($theme-colors, $color);
}

$primary: palette(indigo);

$prim: darken($primary, 2);
$prim2: darken($primary, 20);
$prim3: darken($primary, 26);

$lprim: lighten($primary, 8);
$lprim2: lighten($primary, 12);
$lprim3: lighten($primary, 16);

.bg-primary {
  background-color: $primary;
}

@each $nm, $vl in $theme-colors {
  .bg-#{$nm} {
    background-color: $vl;

    &.bg-#{$nm}-light {
      background-color: lighten($vl, 10);
    }
  }
  .text-#{$nm} {
    color: $vl;
  }
  .bghover-#{$nm}:hover {
    background-color: $vl;
  }
  .hover-#{$nm}:hover {
    color: $vl;
  }
  .border-#{$nm} {
    border-color: $vl;
  }
}
