.hexa-form-email {
    border: solid #db5b5b 4px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    text-decoration: wavy;
    font-family: montserrat;
}

.hexa-form-email::placeholder {
    padding-left: 15px;
    color: #221c1c;
    font-size: 18px;
}

.hexa-form-email:hover {
  transition: 0.5s;
  background-color: #db5b5b;
}

.hexa-form-email:focus {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: #db5b5b;
  font-size: 100%;
  text-decoration: wavy;
}


