.btn-light {
    background-color: #ffffff;
    border-top: solid 3px #ededed;
    border-bottom: solid 3px #ededed;
    border-left: solid 3px #ededed;
    border-right: solid 3px #ededed;
    color: rgb(28, 28, 28);
    &:hover {
        background-color: #ededed;
    }
    &:focus {
            box-shadow: 2px 2px 2px 2px #e8e5e5;
    }
    a {
        color: rgb(28, 28, 28);
    }
}
.btn-dark {
    background-color: #212121;
    border-top: solid 3px #070707;
    border-bottom: solid 3px #070707;
    border-left: solid 3px #070707;
    border-right: solid 3px #070707;
    color: #fff;
    &:hover {
        background-color: #070707;
    }
    &:focus {
            box-shadow: 2px 2px 2px 2px #282727;
    }
    a{
        color: #fff;
    }
}
.btn-danger {
    background-color: #ea3c53;
    border-top: solid 3px #bf0f26;
    border-bottom: solid 3px #bf0f26;
    border-left: solid 3px #bf0f26;
    border-right: solid 3px #bf0f26;
    &:hover {
        background-color: #bf0f26;
    }
    &:focus {
            box-shadow: 2px 2px 2px 2px #960619;
    }
}
.btn-secondary {
    background-color: #BD85F8;
    border-top: solid 3px #BD85F8;
    border-bottom: solid 3px #BD85F8;
    border-left: solid 3px #BD85F8;
    border-right: solid 3px #BD85F8;
    &:hover {
        background-color: #862de6;
    }
    &:focus {
        box-shadow: 2px 2px 2px 2px #6f1dc6;
    }
}
.btn-success {
    background-color: #32cd32;
    border-top: solid 3px #32cd32;
    border-bottom: solid 3px #32cd32;
    border-left: solid 3px #32cd32;
    border-right: solid 3px #32cd32;
    &:hover {
        background-color: #0f9d0f;
    }
    &:focus {
        box-shadow: 2px 2px 2px 2px #058505;
    }
}
.btn-primary {
    background-color: #0074ff;
    border-top: solid 3px #0074ff;
    border-bottom: solid 3px #0074ff;
    border-left: solid 3px #0074ff;
    border-right: solid 3px #0074ff;
    &:hover {
        background-color: #0358c1;
    }
    &:focus {
        box-shadow: 2px 2px 2px 2px #04489b;
    }
}
.btn-warning {
    background-color: #fff017;
    border-top: solid 3px #fff017;
    border-bottom: solid 3px #fff017;
    border-left: solid 3px #fff017;
    border-right: solid 3px #fff017;
    color: #181818;
    &:hover {
        background-color: #dcd027;
    }
    &:focus {
        box-shadow: 2px 2px 2px 2px #d0c41b;
    }
}
.btn-default {
    background-color: #00b895;
    border-top: solid 3px #00b895;
    border-bottom: solid 3px #00b895;
    border-left: solid 3px #00b895;
    border-right: solid 3px #00b895;
    &:hover {
        background-color: #01836b;
    }
    &:focus {
        box-shadow: 2px 2px 2px 2px #015f4e;
    }
}
.btn-info {
    background-color: #407dc7;
    border-top: solid 3px #407dc7;
    border-bottom: solid 3px #407dc7;
    border-left: solid 3px #407dc7;
    border-right: solid 3px #407dc7;
    &:hover {
        background-color: #134f98;
    }
    &:focus {
        box-shadow: 2px 2px 2px 2px #0b4285;
    }
} 

.fernobutton {
    width: fit-content;
    border-radius: 5px;
    border-color: transparent;
    font-size: 19px;
    transition: all 0.5s;
    overflow: hidden;
    font-family: montserrat;
    cursor: pointer;
}

.hover-button {
    width: fit-content;
    font-weight: 500;
    background-color: #ffffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 4px;
    font-family: inter;
    color: black;


    &:hover {
        color: white;
        border: none;
        font-weight: 500;

        a {
            color: white
        }
    }
    a {
        color: black;
    }
}

.outline-button {
    color: rgb(228, 228, 228);
    background-color: transparent;
    font-size: 19px;
    width: fit-content;
    transition: 0.3s ease;
    cursor: pointer;
}


.btn-sm {
    padding: 15px 17px 15px 17px;
}

.btn-lg {
    padding: 15px 30px 15px 30px;
}
.btn-xlg {
    padding: 25px 40px 25px 40px;
    font-size: 24px;
}
