:root {
    --dark-: rgb(31, 27, 27);
    --light-: rgb(236, 232, 232);
    --orange-: rgb(255, 94, 0);
    --blue-: #2d0061;
    --rose-gold: #aa7272;
    --ice-blue: #97bebe;
    --deep-blue: #070033;
    --light-grey: ##e0e5ec;
    --neon-blue: #2196f3;
    --aquagreen-: #0ccd91;
}



* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.navbar-dark {
    display: flex;
    padding: 20px;
    background-color: #101518;
    align-items: center;
    justify-content: space-between;
    color: var(--light-);
  }
  
  .nav-links-dark a {
    color: var(--aquagreen-);
    font-weight: bold;
  }
  
  .logo-dark {
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .links-dark {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .links-dark li:hover {
    background-color: #15191b;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .links-dark li {
    padding: 5px 14px;
  }
  
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    user-select: none;
    font-size: 24px;
  }
  
  @media (max-width: 800px) {
    .links-dark {
      display: none;
      position: absolute;
      background-color: #101518;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .links-dark li:hover {
      display: inline-block;
      background-color: #192123;
      transition: 0.3s ease;
    }
    .links-dark li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .links-dark {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
  
  
  
  /* nav glass here*/
  
  
  .nav-links-glass a {
    color: var(--rose-gold);
    font-weight: bold;
  }
  
  
  .links-glass {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .links-glass li:hover {
    background-color: #15191b;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .links-glass li {
    padding: 5px 14px;
  }
  
  .logo-glass {
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  @media (max-width: 800px) {
    .links-glass {
      display: none;
      position: absolute;
      background: rgb(215, 219, 219);
      backdrop-filter: blur(7.5px);
      -webkit-backdrop-filter: blur(7.5px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .links-glass li:hover {
      display: inline-block;
      background-color: rgba(119, 170, 170, 0.973);
      transition: 0.3s ease;
    }
    .links-glass li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .links-glass {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
  
  
  .navbar-glass {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background: rgba(232, 255, 255, 0.2);
    box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--rose-gold);
  }
  
  
  .links-glass li:hover {
    background-color: var(--dark-);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .select-rose::selection {
    color: var(--rose-gold);
    background-color: var(--ice-blue);
  }
  
  
  
  /* NEON nav */
  
  
  .navbar-neon {
    display: flex;
    padding: 20px;
    background-color: var(--dark-);
    align-items: center;
    justify-content: space-between;
    color: var(--neon-blue-);
    box-shadow: 0 0 10px var(--neon-blue), 0 0 40px var(--neon-blue), 0 0 80px var(--neon-blue);
    text-shadow: 0 0 10px var(--neon-blue), 0 0 40px var(--neon-blue), 0 0 80px var(--neon-blue);
  }
  
  .logo-neon {
    color: #2196f3;
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .select-neon-blue::selection {
    color: #2196f3;
    background-color: #161111;
  }
  
  .nav-links-neon a {
    color: #2196f3;
    font-weight: bold;
  }
  
  .logo {
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .links-neon {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .links-neon li:hover {
    background-color: #15191b;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .links-neon li {
    padding: 5px 14px;
  }
  
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    user-select: none;
    font-size: 24px;
  }
  
  @media (max-width: 800px) {
    .links-neon {
      display: none;
      position: absolute;
      background-color: #141414;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .links-neon li:hover {
      display: inline-block;
      background-color: #192123;
      transition: 0.3s ease;
    }
    .links-neon li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .links-neon {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
  
  
  /* light nav */
  
  .navbar-light {
    display: flex;
    padding: 20px;
    background-color: var(--light-);
    align-items: center;
    justify-content: space-between;
    color: var(--dark-);
  }
  
  .logo-light {
    color: var(--dark-);
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .select-light-blue::selection {
    color: #2196f3;
    background-color: #161111;
  }
  
  .nav-links-light a {
    color: var(--dark-);
    font-weight: bold;
  }
  
  .logo-light {
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .links-light {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .links-light li:hover {
    background-color: var(--neon-blue);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .links-light li {
    padding: 5px 14px;
  }
  
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    user-select: none;
    font-size: 24px;
  }
  
  @media (max-width: 800px) {
    .links-light {
      display: none;
      position: absolute;
      background-color: var(--light-);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .links-light li:hover {
      display: inline-block;
      background-color: var(--neon-blue);
      transition: 0.3s ease;
    }
    .links-light li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .links-light {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
  
  /* minimalistic nav */
  
  .navbar-minimal {
    display: flex;
    padding: 20px;
    background-color: var(--light-);
    align-items: center;
    justify-content: space-between;
    color: #db5b5b;
  }
  
  .logo-minimal {
    color: #db5b5b;
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .select-minimal-blue::selection {
    color: #2196f3;
    background-color: #161111;
  }
  
  .nav-links-minimal a {
    color: #db5b5b;
    font-weight: bold;
  }
  
  .logo-minimal {
    font-size: 32px;
    letter-spacing: 5px;
  }
  
  .links-minimal {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .links-minimal li:hover {
    background-color: rgba(226, 221, 221, 0.973);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .links-minimal li {
    padding: 5px 14px;
  }
  
  .select-black::selection {
    background-color: #161111;
    color: whitesmoke;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    user-select: none;
    font-size: 24px;
  }
  
  @media (max-width: 800px) {
    .links-minimal {
      display: none;
      position: absolute;
      background-color: rgb(236, 235, 235);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .links-minimal li:hover {
      display: inline-block;
      background-color: rgba(226, 221, 221, 0.973);
      transition: 0.3s ease;
    }
    .links-minimal li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .links-minimal {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }

