/*
Dev: @BOLT
Github: https://github.com/Adityeahhh
Licencse: MIT

Hexasova is an open source css library with custom buttons, forms, neon effects, components and much more. A documentation will be made soon! 
*/


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --dark-: rgb(31, 27, 27);
  --light-: rgb(236, 232, 232);
  --orange-: rgb(255, 94, 0);
  --blue-: #2d0061;
  --rose-gold: #aa7272;
  --ice-blue: #97bebe;
  --deep-blue: #070033;
  --light-grey: ##e0e5ec;
  --neon-blue: #2196f3;
  --aquagreen-: #0ccd91;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap");



.button-border-white {
  padding: 4px 20px 4px 20px;
  height: 50px;
  width: fit-content;
  color: white;
  background-color: rgb(24, 23, 23);
  border-bottom: rgba(255, 255, 255, 0.678) solid 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "raleway", sans-serif;
  border-radius: 4px;
}

.button-border-white:hover {
  border-left: rgba(255, 255, 255, 0.678) solid 2px;
  border-top: rgba(255, 255, 255, 0.678) solid 2px;
  border-right: rgba(255, 255, 255, 0.678) solid 2px;
}

.button-border-white:active {
  border-left: white solid 2px;
  border-top: white solid 2px;
  border-right: white solid 2px;
}

.button-border-blue {
  padding: 4px 20px 4px 20px;
  height: 50px;
  width: fit-content;
  color: white;
  background-color: rgb(24, 23, 23);
  border-bottom: rgb(76, 133, 207) solid 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "raleway", sans-serif;
  border-radius: 4px;
}

.button-border-blue:hover {
  border-left: rgb(76, 133, 207) solid 2px;
  border-top: rgb(76, 133, 207) solid 2px;
  border-right: rgb(76, 133, 207) solid 2px;
}

.button-border-blue:active {
  border-left: rgb(124, 162, 211) solid 2px;
  border-top: rgb(124, 162, 211) solid 2px;
  border-right: rgb(124, 162, 211) solid 2px;
}

.button-border-green {
  padding: 4px 20px 4px 20px;
  height: 50px;
  width: fit-content;
  color: white;
  background-color: rgb(24, 23, 23);
  border-bottom: #34b85b solid 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "raleway", sans-serif;
  border-radius: 4px;
}


.button-border-green:hover {
  border-left: #34b85b solid 2px;
  border-top: #34b85b solid 2px;
  border-right: #34b85b solid 2px;
}

.button-border-green:active {
  border-left: #33a12f solid 2px;
  border-top: #33a12f solid 2px;
  border-right: #33a12f solid 2px;
}

.button-border-purple {
  padding: 4px 20px 4px 20px;
  height: 50px;
  width: fit-content;
  color: white;
  background-color: rgb(24, 23, 23);
  border-bottom: #5f0a87 solid 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "raleway", sans-serif;
  border-radius: 4px;
}

.button-border-purple:hover {
  border-left: #5f0a87 solid 2px;
  border-top: #5f0a87 solid 2px;
  border-right: #5f0a87 solid 2px;
}

.button-border-purple:active {
  border-left: #613b9c solid 2px;
  border-top: #613b9c solid 2px;
  border-right: #613b9c solid 2px;
}

.hover-button-black {
  height: 50px;
  width: fit-content;
  color: rgb(24, 21, 21);
  border-bottom: #000000 solid 3px;
  border-left: none;
  border-right: none;
  font-weight: lighter;
  border-top: none;
  font-family: "montserrat", sans-serif;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
}

.hover-button-black:hover {
  color: white;
  background-color: black;
  border: none;
  font-weight: 500;
}

.hover-button-blue {
  height: 50px;
  width: fit-content;
  color: rgb(24, 21, 21);
  border-bottom: rgb(76, 133, 207) solid 3px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "montserrat", sans-serif;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
}

.hover-button-blue:hover {
  color: white;
  background-color: rgb(76, 133, 207);
  border: none;
  font-weight: 500;
}

.hover-button-purple {
  height: 50px;
  width: fit-content;
  color: rgb(24, 21, 21);
  border-bottom: #613b9c solid 3px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "montserrat", sans-serif;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
}

.hover-button-purple:hover {
  color: white;
  background-color: #613b9c;
  border: none;
  font-weight: 500;
}

.hover-button-cyan {
  height: 50px;
  width: fit-content;
  color: black;
  border-bottom: #34b8b8 solid 3px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "montserrat", sans-serif;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
}

.hover-button-cyan:hover {
  color: white;
  background-color: #34b8b8;
  border: none;
  font-weight: 500;
}

.minimalist-white {
  font-family: raleway;
  letter-spacing: 4px;
  font-weight: bold;
  font-size-adjust: inherit;
  width: fit-content;
  height: 55px;
  padding: 20px 30px 20px 30px;
  background-color: #ffffff;
  color: #bec2cb;
  border-top: #e8e4ee;
  border-left: #e8e4ee;
  border-right: #e8e4ee;
  border-bottom: #e8e4ee;
  box-shadow: #ddd3d3 1px 1px 1px 1px;
  background-image: "https://static.vecteezy.com/system/resources/thumbnails/000/576/820/small/picthai-free-vector60-8-01.jpg";
}

.minimalist-white:hover {
  box-shadow: #c5c0c0 1px 2px 2px 1px;
  color: #9a9a9c;
}

.minimalist-white:active {
  background-color: #ffffff;
  color: black;
}

@keyframes bordergreen {
  5% {
    border-top: solid 3px #2196f3;
  }
  10% {
    border-top: solid 4px #2196f3;
  }
  15% {
    border-top: solid 3px #2196f3;
  }
  20% {
    border: none;
  }

  25% {
    border-right: solid 3px #2196f3;
  }
  30% {
    border-right: solid 4px #2196f3;
  }
  35% {
    border-right: solid 3px #2196f3;
  }
  40% {
    border: none;
  }

  45% {
    border-bottom: solid 3px #2196f3;
  }
  50% {
    border-bottom: solid 4px #2196f3;
  }
  55% {
    border-bottom: solid 3px #2196f3;
  }
  60% {
    border: none;
  }

  65% {
    border-left: solid 3px #2196f3;
  }
  70% {
    border-left: solid 4px #2196f3;
  }
  75% {
    border-left: solid 3px #2196f3;
  }
  80% {
    border: none;
  }

  85% {
    border-top: solid 3px #2196f3;
  }
  90% {
    border-top: solid 4px #2196f3;
  }
  95% {
    border-top: solid 3px #2196f3;
  }
  100% {
    border: none;
  }
}

/* .border-animation [under construction]{
  border: none;
  font-family: raleway;
  letter-spacing: 4px;
  font-weight: bold;
  font-size-adjust: inherit;
  width: fit-content;
  height: 55px;
  padding: 20px 30px 20px 30px;
  margin-left: 100px;
  margin-top: 100px;
}

.border-animation:hover {
  animation: bordergreen;
  animation-duration: 1s;
  border: solid 1px #2196f3;
} */

.hexa-form-email {
  border: solid #db5b5b 4px;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 100%;
  text-decoration: wavy;
  font-family: montserrat;
}

.hexa-form-email::placeholder {
  padding-left: 15px;
  color: #221c1c;
  font-size: 18px;
}

.hexa-form-email:hover {
  transition: 0.5s;
  background-color: #db5b5b;
}

.hexa-form-email:focus {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: #db5b5b;
  font-size: 100%;
  text-decoration: wavy;
}

.gradient-purple {
  background-color: #a4508b;
  background-image: linear-gradient(to right, #a4508b, #5f0a87);
}

.gradient-blue {
  background-color: #4e0ead;
  background-image: linear-gradient(to right, #482fa1, #613b9c);
}

.gradient-green {
  background-color: #34b85b;
  background-image: linear-gradient(to right, #33a12f, #34b85b);
}

.gradient-cyan {
  background-color: #34b8b8;
  background-image: linear-gradient(to right, #236d5a, #34b4b8);
}

.alert-text {
  position: inherit;
  left: 2%;
  padding: 10px 10px 10px 10px;
  position: relative;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}

.alert-blue {
  width: 80%;
  padding-right: 20px;

  color: #dfa7ff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #482fa1;
  box-shadow: #000000 3px 3px;
}

.alert-purple {
  width: 80%;
  padding-right: 20px;

  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5f0a87;
  box-shadow: #000000 3px 3px;
}

.alert-white {
  width: 80%;
  padding-right: 20px;

  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  box-shadow: #000000 3px 3px;
}

.alert-cyan {
  width: 80%;
  padding-right: 20px;

  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #34b8b8;
  box-shadow: #000000 3px 3px;
}

.alert-green {
  width: 80%;
  padding-right: 20px;

  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #33a12f;
  box-shadow: #000000 3px 3px;
}

.pane-white {
  height: 90vh;
  width: 20%;
  background-color: antiquewhite;
}

.pane-purple {
  height: 90vh;
  width: 20%;
  background-color: #5f0a87;
}

.pane-blue {
  height: 90vh;
  width: 20%;
  background-color: #482fa1;
}

.pane-black {
  height: 90vh;
  width: 20%;
  background-color: rgb(0, 0, 0);
}

.pane-cyan {
  height: 90vh;
  width: 20%;
  background-color: #34b4b8;
}

.pane-green {
  height: 90vh;
  width: 20%;
  background-color: #33a12f;
}

.boldify {
  font-weight: bolder;
  font-family: montserrat;
}

.largify {
  font-size: 7rem;
}

.thinify {
  font-weight: 100;
  font-family: montserrat;
  font-family: "Quicksand", sans-serif;
}

.neonify-text-white {
  text-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
}
.neonify-text-cyan {
  text-shadow: 0 0 10px #34b8b8, 0 0 40px #34b8b8, 0 0 80px #34b8b8;
}

.neonify-text-purple {
  text-shadow: 0 0 10px #613b9c, 0 0 40px #613b9c, 0 0 80px #613b9c;
}
.neonify-text-black {
  text-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}
.neonify-text-green {
  text-shadow: 0 0 10px #34b85b, 0 0 40px #34b85b, 0 0 80px #34b85b;
}
.neonify-text-blue {
  text-shadow: 0 0 10px #4e0ead, 0 0 40px #4e0ead, 0 0 80px #4e0ead;
}

.neonify-white {
  box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
}
.neonify-cyan {
  box-shadow: 0 0 10px #34b8b8, 0 0 40px #34b8b8, 0 0 80px #34b8b8;
}

.neonify-purple {
  box-shadow: 0 0 10px #613b9c, 0 0 40px #613b9c, 0 0 80px #613b9c;
}
.neonify-black {
  box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}
.neonify-green {
  box-shadow: 0 0 10px #34b85b, 0 0 40px #34b85b, 0 0 80px #34b85b;
}
.neonify-blue {
  box-shadow: 0 0 10px #4e0ead, 0 0 40px #4e0ead, 0 0 80px #4e0ead;
}

.strikethrough {
  text-decoration: line-through;
}

.select-black::selection {
  background-color: black;
  color: white;
}

.select-cyan::selection {
  background-color: #208f8f;
  color: white;
}

.select-purple::selection {
  background-color: #613b9c;
  color: rgb(255, 255, 255);
}

.select-green::selection {
  background-color: #34b85b;
  color: rgb(245, 243, 240);
}

.pill-button-green {
  height: 55px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(51, 45, 45);
  color: #ffffff;
  font-size: 20px;
  font-family: raleway;
  font-weight: bold;
  background-image: linear-gradient(to bottom, transparent 50%, #06d39588 50%);
}

@keyframes aquagreen {
  0% {
    background-image: linear-gradient(
      to bottom,
      transparent 55%,
      #06d39588 55%
    );
  }
  10% {
    background-image: linear-gradient(
      to bottom,
      transparent 60%,
      #06d39588 60%
    );
  }
  20% {
    background-image: linear-gradient(
      to bottom,
      transparent 65%,
      #06d39588 65%
    );
  }
  30% {
    background-image: linear-gradient(
      to bottom,
      transparent 70%,
      #06d39588 70%
    );
  }
  40% {
    background-image: linear-gradient(
      to bottom,
      transparent 75%,
      #06d39588 75%
    );
  }
  50% {
    background-image: linear-gradient(
      to bottom,
      transparent 80%,
      #06d39588 80%
    );
  }
  60% {
    background-image: linear-gradient(
      to bottom,
      transparent 85%,
      #06d39588 85%
    );
  }
  70% {
    background-image: linear-gradient(
      to bottom,
      transparent 90%,
      #06d39588 90%
    );
  }
  80% {
    background-image: linear-gradient(
      to bottom,
      transparent 93%,
      #06d39588 93%
    );
  }
  90% {
    background-image: linear-gradient(
      to bottom,
      transparent 96%,
      #06d39588 96%
    );
  }
  100% {
    background-image: linear-gradient(
      to bottom,
      transparent 100%,
      #06d39588 100%
    );
  }
}

.pill-button-green:hover {
  animation-name: aquagreen;
  animation-duration: 750ms;
  background-color: rgb(49, 44, 44);
  color: #06d39588;

  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgb(49, 44, 44) 50%
  );
}

.pill-button-blue {
  height: 55px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(51, 45, 45);
  color: #fafafa;
  font-size: 20px;
  font-family: raleway;
  font-weight: 700;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(76, 133, 207, 0.685) 50%
  );
}

@keyframes bluwu {
  0% {
    background-image: linear-gradient(
      to bottom,
      transparent 55%,
      rgba(76, 133, 207, 0.685) 55%
    );
  }
  10% {
    background-image: linear-gradient(
      to bottom,
      transparent 60%,
      rgba(76, 133, 207, 0.685) 60%
    );
  }
  20% {
    background-image: linear-gradient(
      to bottom,
      transparent 65%,
      rgba(76, 133, 207, 0.685) 65%
    );
  }
  30% {
    background-image: linear-gradient(
      to bottom,
      transparent 70%,
      rgba(76, 133, 207, 0.685) 70%
    );
  }
  40% {
    background-image: linear-gradient(
      to bottom,
      transparent 75%,
      rgba(76, 133, 207, 0.685) 75%
    );
  }
  50% {
    background-image: linear-gradient(
      to bottom,
      transparent 80%,
      rgba(76, 133, 207, 0.685) 80%
    );
  }
  60% {
    background-image: linear-gradient(
      to bottom,
      transparent 85%,
      rgba(76, 133, 207, 0.685) 85%
    );
  }
  70% {
    background-image: linear-gradient(
      to bottom,
      transparent 90%,
      rgba(76, 133, 207, 0.685) 90%
    );
  }
  80% {
    background-image: linear-gradient(
      to bottom,
      transparent 93%,
      rgba(76, 133, 207, 0.685) 93%
    );
  }
  90% {
    background-image: linear-gradient(
      to bottom,
      transparent 96%,
      rgba(76, 133, 207, 0.685) 96%
    );
  }
  100% {
    background-image: linear-gradient(
      to bottom,
      transparent 100%,
      rgba(76, 133, 207, 0.685) 100%
    );
  }
}

.pill-button-blue:hover {
  animation-name: bluwu;
  animation-duration: 750ms;
  background-color: rgb(49, 44, 44);
  color: rgb(124, 162, 211);

  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgb(49, 44, 44) 50%
  );
}

.pill-button-cyan {
  height: 55px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(51, 45, 45);
  color: #fafafa;
  font-size: 20px;
  font-family: raleway;
  font-weight: 700;
  background-image: linear-gradient(to bottom, transparent 50%, #34b8b8 50%);
}

@keyframes cyann {
  0% {
    background-image: linear-gradient(to bottom, transparent 55%, #34b8b8 55%);
  }
  10% {
    background-image: linear-gradient(to bottom, transparent 60%, #34b8b8 60%);
  }
  20% {
    background-image: linear-gradient(to bottom, transparent 65%, #34b8b8 65%);
  }
  30% {
    background-image: linear-gradient(to bottom, transparent 70%, #34b8b8 70%);
  }
  40% {
    background-image: linear-gradient(to bottom, transparent 75%, #34b8b8 75%);
  }
  50% {
    background-image: linear-gradient(to bottom, transparent 80%, #34b8b8 80%);
  }
  60% {
    background-image: linear-gradient(to bottom, transparent 85%, #34b8b8 85%);
  }
  70% {
    background-image: linear-gradient(to bottom, transparent 90%, #34b8b8 90%);
  }
  80% {
    background-image: linear-gradient(to bottom, transparent 93%, #34b8b8 93%);
  }
  90% {
    background-image: linear-gradient(to bottom, transparent 96%, #34b8b8 96%);
  }
  100% {
    background-image: linear-gradient(
      to bottom,
      transparent 100%,
      #34b8b8 100%
    );
  }
}

.pill-button-cyan:hover {
  animation-name: cyann;
  animation-duration: 750ms;
  background-color: rgb(49, 44, 44);
  color: #34b8b8;

  background-image: linear-gradient(
    to bottom,
    transparent 100%,
    rgb(49, 44, 44) 100%
  );
}

.pill-button-purple {
  height: 55px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(51, 45, 45);
  color: #fafafa;
  font-size: 20px;
  font-family: raleway;
  font-weight: 700;
  background-image: linear-gradient(to bottom, transparent 50%, #613b9c 50%);
}

@keyframes purplen {
  0% {
    background-image: linear-gradient(to bottom, transparent 55%, #613b9c 55%);
  }
  10% {
    background-image: linear-gradient(to bottom, transparent 60%, #613b9c 60%);
  }
  20% {
    background-image: linear-gradient(to bottom, transparent 65%, #613b9c 65%);
  }
  30% {
    background-image: linear-gradient(to bottom, transparent 70%, #613b9c 70%);
  }
  40% {
    background-image: linear-gradient(to bottom, transparent 75%, #613b9c 75%);
  }
  50% {
    background-image: linear-gradient(to bottom, transparent 80%, #613b9c 80%);
  }
  60% {
    background-image: linear-gradient(to bottom, transparent 85%, #613b9c 85%);
  }
  70% {
    background-image: linear-gradient(to bottom, transparent 90%, #613b9c 90%);
  }
  80% {
    background-image: linear-gradient(to bottom, transparent 93%, #613b9c 93%);
  }
  90% {
    background-image: linear-gradient(to bottom, transparent 96%, #613b9c 96%);
  }
  100% {
    background-image: linear-gradient(
      to bottom,
      transparent 100%,
      #613b9c 100%
    );
  }
}

.pill-button-purple:hover {
  animation-name: purplen;
  animation-duration: 750ms;
  background-color: rgb(49, 44, 44);
  color: #a26bf5;

  background-image: linear-gradient(
    to bottom,
    transparent 100%,
    rgb(49, 44, 44) 100%
  );
}

.navbar-dark {
  display: flex;
  padding: 20px;
  background-color: #101518;
  align-items: center;
  justify-content: space-between;
  color: var(--light-);
}

.nav-links-dark a {
  color: var(--aquagreen-);
  font-weight: bold;
}

.logo-dark {
  font-size: 32px;
  letter-spacing: 5px;
}

.links-dark {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links-dark li:hover {
  background-color: #15191b;
  border-radius: 5px;
  transition: 0.3s ease;
}

.links-dark li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  user-select: none;
  font-size: 24px;
}

@media (max-width: 800px) {
  .links-dark {
    display: none;
    position: absolute;
    background-color: #101518;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .links-dark li:hover {
    display: inline-block;
    background-color: #192123;
    transition: 0.3s ease;
  }
  .links-dark li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .links-dark {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

/* nav glass here*/

.nav-links-glass a {
  color: var(--rose-gold);
  font-weight: bold;
}

.links-glass {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links-glass li:hover {
  background-color: #15191b;
  border-radius: 5px;
  transition: 0.3s ease;
}

.links-glass li {
  padding: 5px 14px;
}

.logo-glass {
  font-size: 32px;
  letter-spacing: 5px;
}

@media (max-width: 800px) {
  .links-glass {
    display: none;
    position: absolute;
    background: rgb(215, 219, 219);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .links-glass li:hover {
    display: inline-block;
    background-color: rgba(119, 170, 170, 0.973);
    transition: 0.3s ease;
  }
  .links-glass li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .links-glass {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

.navbar-glass {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background: rgba(232, 255, 255, 0.2);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--rose-gold);
}

.links-glass li:hover {
  background-color: var(--dark-);
  border-radius: 5px;
  transition: 0.3s ease;
}

.select-rose::selection {
  color: var(--rose-gold);
  background-color: var(--ice-blue);
}

/* NEON nav */

.navbar-neon {
  display: flex;
  padding: 20px;
  background-color: var(--dark-);
  align-items: center;
  justify-content: space-between;
  color: var(--neon-blue-);
  box-shadow: 0 0 10px var(--neon-blue), 0 0 40px var(--neon-blue),
    0 0 80px var(--neon-blue);
  text-shadow: 0 0 10px var(--neon-blue), 0 0 40px var(--neon-blue),
    0 0 80px var(--neon-blue);
}

.logo-neon {
  color: #2196f3;
  font-size: 32px;
  letter-spacing: 5px;
}

.select-neon-blue::selection {
  color: #2196f3;
  background-color: #161111;
}

.nav-links-neon a {
  color: #2196f3;
  font-weight: bold;
}

.logo {
  font-size: 32px;
  letter-spacing: 5px;
}

.links-neon {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links-neon li:hover {
  background-color: #15191b;
  border-radius: 5px;
  transition: 0.3s ease;
}

.links-neon li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  user-select: none;
  font-size: 24px;
}

@media (max-width: 800px) {
  .links-neon {
    display: none;
    position: absolute;
    background-color: #141414;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .links-neon li:hover {
    display: inline-block;
    background-color: #192123;
    transition: 0.3s ease;
  }
  .links-neon li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .links-neon {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

/* light nav */

.navbar-light {
  display: flex;
  padding: 20px;
  background-color: var(--light-);
  align-items: center;
  justify-content: space-between;
  color: var(--dark-);
}

.logo-light {
  color: var(--dark-);
  font-size: 32px;
  letter-spacing: 5px;
}

.select-light-blue::selection {
  color: #2196f3;
  background-color: #161111;
}

.nav-links-light a {
  color: var(--dark-);
  font-weight: bold;
}

.logo-light {
  font-size: 32px;
  letter-spacing: 5px;
}

.links-light {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links-light li:hover {
  background-color: var(--neon-blue);
  border-radius: 5px;
  transition: 0.3s ease;
}

.links-light li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  user-select: none;
  font-size: 24px;
}

@media (max-width: 800px) {
  .links-light {
    display: none;
    position: absolute;
    background-color: var(--light-);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .links-light li:hover {
    display: inline-block;
    background-color: var(--neon-blue);
    transition: 0.3s ease;
  }
  .links-light li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .links-light {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

/* minimalistic nav */

.navbar-minimal {
  display: flex;
  padding: 20px;
  background-color: var(--light-);
  align-items: center;
  justify-content: space-between;
  color: #db5b5b;
}

.logo-minimal {
  color: #db5b5b;
  font-size: 32px;
  letter-spacing: 5px;
}

.select-minimal-blue::selection {
  color: #2196f3;
  background-color: #161111;
}

.nav-links-minimal a {
  color: #db5b5b;
  font-weight: bold;
}

.logo-minimal {
  font-size: 32px;
  letter-spacing: 5px;
}

.links-minimal {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links-minimal li:hover {
  background-color: rgba(226, 221, 221, 0.973);
  border-radius: 5px;
  transition: 0.3s ease;
}

.links-minimal li {
  padding: 5px 14px;
}

.select-black::selection {
  background-color: #161111;
  color: whitesmoke;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  user-select: none;
  font-size: 24px;
}

@media (max-width: 800px) {
  .links-minimal {
    display: none;
    position: absolute;
    background-color: rgb(236, 235, 235);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .links-minimal li:hover {
    display: inline-block;
    background-color: rgba(226, 221, 221, 0.973);
    transition: 0.3s ease;
  }
  .links-minimal li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .links-minimal {
    display: block;
  }
  .hamburger {
    display: block;
  }
}












/* footer black*/

.footer-black {
  background-color: #101518;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-black {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  color: #dbdbdb;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-black li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-black a {
  color: #dbdbdb;
}

.footer-ul-black a:hover {
  color: #0ccd91;
}

.footer-links-black {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-black {
  font-size: 24px;
  color: #0ccd91;
}

.footer-logo-black {
  color: #dbdbdb;
  padding: 80px 50px;
}

.footer-logo-black:hover {
  color: #0ccd91;
  transition: 0.5s;
}

.bottom-text-black {
  display: flex;
  justify-content: center;
  color: rgb(92, 92, 92);
}

.bottom-text-black a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-black a:hover {
  color: rgb(219, 219, 219);
}

.socials-black {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-black i {
  padding-left: 5px;
  color: #0ccd91;
  font-size: 30px;
}

.socials-black i:hover {
  color: #dbdbdb;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-black {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-black {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-black {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-black li {
    padding-top: 5px;
  }
  .bottom-text-black {
    padding-top: 15px;
  }
  .ul-heading-black {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-black {
    font-size: 20px;
  }
  .ul-heading-black {
    font-size: 16px;
  }

  .footer-links-black {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-black {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-black li {
    padding-top: 5px;
  }
  .bottom-text-black {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-black {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-black {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-black {
    padding-top: 15px;
  }
}

/* footer white */

.footer-white {
  background-color: #f5f5f5;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-white {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-white li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-white a {
  color: #141414;
}

.footer-ul-white a:hover {
  color: #0ccd91;
}

.footer-links-white {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-white {
  font-size: 24px;
  color: #0ccd91;
}

.footer-logo-white {
  color: #141414;
  padding: 80px 50px;
}

.footer-logo-white:hover {
  color: #0ccd91;
  transition: 0.5s;
}

.bottom-text-white {
  display: flex;
  justify-content: center;
  color: rgb(92, 92, 92);
}

.bottom-text-white a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-white a:hover {
  color: #141414;
}

.socials-white {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-white i {
  padding-left: 5px;
  color: #0ccd91;
  font-size: 30px;
}

.socials-white i:hover {
  color: #141414;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-white {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-white {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-white {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-white li {
    padding-top: 5px;
  }
  .bottom-text-white {
    padding-top: 15px;
  }
  .ul-heading-white {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-white {
    font-size: 20px;
  }
  .ul-heading-white {
    font-size: 16px;
  }

  .footer-links-white {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-white {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-white li {
    padding-top: 5px;
  }
  .bottom-text-white {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-white {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-white {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-white {
    padding-top: 15px;
  }
}




/* footer-purple */

.footer-purple {
  background-color: #9656a3;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-purple {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-purple li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-purple a {
  color: #331c4b;
}

.footer-ul-purple a:hover {
  color: #070033;
}

.footer-links-purple {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-purple {
  font-size: 24px;
  color: #141414;
}

.footer-logo-purple {
  color: #331c4b;
  padding: 80px 50px;
}

.footer-logo-purple:hover {
  color: #070033;
  transition: 0.5s;
}

.bottom-text-purple {
  display: flex;
  justify-content: center;
  color: #331c4b;
}

.bottom-text-purple a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-purple a:hover {
  color: #070033;
}

.socials-purple {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-purple i {
  padding-left: 5px;
  color: #15191b;
  font-size: 30px;
}

.socials-purple i:hover {
  color: #000000;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-purple {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-purple {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-purple {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-purple li {
    padding-top: 5px;
  }
  .bottom-text-purple {
    padding-top: 15px;
  }
  .ul-heading-purple {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-purple {
    font-size: 20px;
  }
  .ul-heading-purple {
    font-size: 16px;
  }

  .footer-links-purple {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-purple {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-purple li {
    padding-top: 5px;
  }
  .bottom-text-purple {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-purple {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-purple {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-purple {
    padding-top: 15px;
  }
}


/* footer green */

.footer-green {
  background-color: #4DB33D;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0%;
  min-height: 50vh;
  overflow: hidden;
}

.footer-ul-green {
  margin: 100px 100px 50px 0px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul-green li {
  padding-top: 5px;
  margin-right: 0px;
}

.footer-ul-green a {
  color: #ffffff;
}

.footer-ul-green a:hover {
  color: #d5d5d6;
}

.footer-links-green {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 155px;
}

.ul-heading-green {
  font-size: 24px;
  color: #000000;
}

.footer-logo-green {
  color: #2b2b2b;
  padding: 80px 50px;
}

.footer-logo-green:hover {
  color: #000000;
  transition: 0.5s;
}

.bottom-text-green {
  display: flex;
  justify-content: center;
  color: #272727;
}

.bottom-text-green a {
  padding-left: 20px;
  padding-bottom: 5px;
}

.bottom-text-green a:hover {
  color: #000000;
}

.socials-green {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.socials-green i {
  padding-left: 5px;
  color: #15191b;
  font-size: 30px;
}

.socials-green i:hover {
  color: #000000;
  transition: 0.5s;
}

@media (max-width: 1162px) {
  .footer-logo-green {
    text-align: center;
    font-size: 26px;
    padding-left: 30px;
  }

  .footer-links-green {
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
  }

  .footer-ul-green {
    margin: 100px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }

  .footer-ul-green li {
    padding-top: 5px;
  }
  .bottom-text-green {
    padding-top: 15px;
  }
  .ul-heading-green {
    font-size: 20px;
  }
}

@media (max-width: 775px) {
  .footer-logo-green {
    font-size: 20px;
  }
  .ul-heading-green {
    font-size: 16px;
  }

  .footer-links-green {
    width: 90%;
    margin-top: 100px;
  }

  .footer-ul-green {
    margin: 5px 5px 5px 5px;
    padding-left: 20px;
    margin-left: none;
    margin-right: none;
    text-align: center;
  }
  .footer-ul-green li {
    padding-top: 5px;
  }
  .bottom-text-green {
    padding-top: 15px;
  }
}

@media (max-width: 678px) {
  .footer-logo-green {
    display: block;
    text-align: center;
    margin-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-links-green {
    display: flex;
    flex-direction: column;
  }

  .footer-ul-green {
    padding-top: 15px;
  }
}





















/*please make the changes above since below is just HUGE repetetive code */


.h0 {
  height: 0vh;
}
.h1 {
  height: 1vh;
}
.h2 {
  height: 2vh;
}
.h3 {
  height: 3vh;
}
.h4 {
  height: 4vh;
}
.h5 {
  height: 5vh;
}
.h6 {
  height: 6vh;
}
.h7 {
  height: 7vh;
}
.h8 {
  height: 8vh;
}
.h9 {
  height: 9vh;
}
.h10 {
  height: 10vh;
}
.h11 {
  height: 11vh;
}
.h12 {
  height: 12vh;
}
.h13 {
  height: 13vh;
}
.h14 {
  height: 14vh;
}
.h15 {
  height: 15vh;
}
.h16 {
  height: 16vh;
}
.h17 {
  height: 17vh;
}
.h18 {
  height: 18vh;
}
.h19 {
  height: 19vh;
}
.h20 {
  height: 20vh;
}
.h21 {
  height: 21vh;
}
.h22 {
  height: 22vh;
}
.h23 {
  height: 23vh;
}
.h24 {
  height: 24vh;
}
.h25 {
  height: 25vh;
}
.h26 {
  height: 26vh;
}
.h27 {
  height: 27vh;
}
.h28 {
  height: 28vh;
}
.h29 {
  height: 29vh;
}
.h30 {
  height: 30vh;
}
.h31 {
  height: 31vh;
}
.h32 {
  height: 32vh;
}
.h33 {
  height: 33vh;
}
.h34 {
  height: 34vh;
}
.h35 {
  height: 35vh;
}
.h36 {
  height: 36vh;
}
.h37 {
  height: 37vh;
}
.h38 {
  height: 38vh;
}
.h39 {
  height: 39vh;
}
.h40 {
  height: 40vh;
}
.h41 {
  height: 41vh;
}
.h42 {
  height: 42vh;
}
.h43 {
  height: 43vh;
}
.h44 {
  height: 44vh;
}
.h45 {
  height: 45vh;
}
.h46 {
  height: 46vh;
}
.h47 {
  height: 47vh;
}
.h48 {
  height: 48vh;
}
.h49 {
  height: 49vh;
}
.h50 {
  height: 50vh;
}
.h51 {
  height: 51vh;
}
.h52 {
  height: 52vh;
}
.h53 {
  height: 53vh;
}
.h54 {
  height: 54vh;
}
.h55 {
  height: 55vh;
}
.h56 {
  height: 56vh;
}
.h57 {
  height: 57vh;
}
.h58 {
  height: 58vh;
}
.h59 {
  height: 59vh;
}
.h60 {
  height: 60vh;
}
.h61 {
  height: 61vh;
}
.h62 {
  height: 62vh;
}
.h63 {
  height: 63vh;
}
.h64 {
  height: 64vh;
}
.h65 {
  height: 65vh;
}
.h66 {
  height: 66vh;
}
.h67 {
  height: 67vh;
}
.h68 {
  height: 68vh;
}
.h69 {
  height: 69vh;
}
.h70 {
  height: 70vh;
}
.h71 {
  height: 71vh;
}
.h72 {
  height: 72vh;
}
.h73 {
  height: 73vh;
}
.h74 {
  height: 74vh;
}
.h75 {
  height: 75vh;
}
.h76 {
  height: 76vh;
}
.h77 {
  height: 77vh;
}
.h78 {
  height: 78vh;
}
.h79 {
  height: 79vh;
}
.h80 {
  height: 80vh;
}
.h81 {
  height: 81vh;
}
.h82 {
  height: 82vh;
}
.h83 {
  height: 83vh;
}
.h84 {
  height: 84vh;
}
.h85 {
  height: 85vh;
}
.h86 {
  height: 86vh;
}
.h87 {
  height: 87vh;
}
.h88 {
  height: 88vh;
}
.h89 {
  height: 89vh;
}
.h90 {
  height: 90vh;
}
.h91 {
  height: 91vh;
}
.h92 {
  height: 92vh;
}
.h93 {
  height: 93vh;
}
.h94 {
  height: 94vh;
}
.h95 {
  height: 95vh;
}
.h96 {
  height: 96vh;
}
.h97 {
  height: 97vh;
}
.h98 {
  height: 98vh;
}
.h99 {
  height: 99vh;
}
.h100 {
  height: 100vh;
}


.w0 {
  width: 0%;
}
.w1 {
  width: 1%;
}
.w2 {
  width: 2%;
}
.w3 {
  width: 3%;
}
.w4 {
  width: 4%;
}
.w5 {
  width: 5%;
}
.w6 {
  width: 6%;
}
.w7 {
  width: 7%;
}
.w8 {
  width: 8%;
}
.w9 {
  width: 9%;
}
.w10 {
  width: 10%;
}
.w11 {
  width: 11%;
}
.w12 {
  width: 12%;
}
.w13 {
  width: 13%;
}
.w14 {
  width: 14%;
}
.w15 {
  width: 15%;
}
.w16 {
  width: 16%;
}
.w17 {
  width: 17%;
}
.w18 {
  width: 18%;
}
.w19 {
  width: 19%;
}
.w20 {
  width: 20%;
}
.w21 {
  width: 21%;
}
.w22 {
  width: 22%;
}
.w23 {
  width: 23%;
}
.w24 {
  width: 24%;
}
.w25 {
  width: 25%;
}
.w26 {
  width: 26%;
}
.w27 {
  width: 27%;
}
.w28 {
  width: 28%;
}
.w29 {
  width: 29%;
}
.w30 {
  width: 30%;
}
.w31 {
  width: 31%;
}
.w32 {
  width: 32%;
}
.w33 {
  width: 33%;
}
.w34 {
  width: 34%;
}
.w35 {
  width: 35%;
}
.w36 {
  width: 36%;
}
.w37 {
  width: 37%;
}
.w38 {
  width: 38%;
}
.w39 {
  width: 39%;
}
.w40 {
  width: 40%;
}
.w41 {
  width: 41%;
}
.w42 {
  width: 42%;
}
.w43 {
  width: 43%;
}
.w44 {
  width: 44%;
}
.w45 {
  width: 45%;
}
.w46 {
  width: 46%;
}
.w47 {
  width: 47%;
}
.w48 {
  width: 48%;
}
.w49 {
  width: 49%;
}
.w50 {
  width: 50%;
}
.w51 {
  width: 51%;
}
.w52 {
  width: 52%;
}
.w53 {
  width: 53%;
}
.w54 {
  width: 54%;
}
.w55 {
  width: 55%;
}
.w56 {
  width: 56%;
}
.w57 {
  width: 57%;
}
.w58 {
  width: 58%;
}
.w59 {
  width: 59%;
}
.w60 {
  width: 60%;
}
.w61 {
  width: 61%;
}
.w62 {
  width: 62%;
}
.w63 {
  width: 63%;
}
.w64 {
  width: 64%;
}
.w65 {
  width: 65%;
}
.w66 {
  width: 66%;
}
.w67 {
  width: 67%;
}
.w68 {
  width: 68%;
}
.w69 {
  width: 69%;
}
.w70 {
  width: 70%;
}
.w71 {
  width: 71%;
}
.w72 {
  width: 72%;
}
.w73 {
  width: 73%;
}
.w74 {
  width: 74%;
}
.w75 {
  width: 75%;
}
.w76 {
  width: 76%;
}
.w77 {
  width: 77%;
}
.w78 {
  width: 78%;
}
.w79 {
  width: 79%;
}
.w80 {
  width: 80%;
}
.w81 {
  width: 81%;
}
.w82 {
  width: 82%;
}
.w83 {
  width: 83%;
}
.w84 {
  width: 84%;
}
.w85 {
  width: 85%;
}
.w86 {
  width: 86%;
}
.w87 {
  width: 87%;
}
.w88 {
  width: 88%;
}
.w89 {
  width: 89%;
}
.w90 {
  width: 90%;
}
.w91 {
  width: 91%;
}
.w92 {
  width: 92%;
}
.w93 {
  width: 93%;
}
.w94 {
  width: 94%;
}
.w95 {
  width: 95%;
}
.w96 {
  width: 96%;
}
.w97 {
  width: 97%;
}
.w98 {
  width: 98%;
}
.w99 {
  width: 99%;
}
.w100 {
  width: 100%;
}
